<html>
  <head>
    <script src='{{ STATIC_URL }}js/jquery-1.7.min.js'></script>
    <script src='{{ STATIC_URL }}js/underscore-1.2.2.js'></script>
    <script src='{{ STATIC_URL }}js/backbone-0.5.3.js'></script>
    <script src='{{ STATIC_URL }}js/jquery.celery.js'></script>
    <script type='text/javascript'>
        $(document).ready(function(){
            //var app = new AppView();
            /*
            // create a simple task and bind to its SUCCESS event
            window.task = new CeleryTask({
                id: '785ba181-4c8b-4b35-a6c4-f47ad6b8d11a'
            },
            {
            autoPoll: true
            });
            window.task.bind('task_SUCCESS', console.log);
            */


            //console.log(window.task.opts);
            //task.poll();

            /*
            // long, manual example
            $('#addTask').click(function() {
                $.getJSON('/tasks/add/', '', 
                    function(data) {
                        window.tasks = new CeleryTasks();
                        window.tasks.add({id: data.task_id});
                        window.task = new CeleryTask(
                        // the new model's attributes
                        {
                            id: data.task_id
                        }, 
                        // option map to override defaults
                        {
                            autoPoll: false
                        });
                        window.tasks.bind('task_SUCCESS', function(task) {
                            console.log(task);
                        });
                    });
            });

            $('#pollTask').click(function() {
                window.task.poll();
            });

            $('#stopPolling').click(function() {
                window.task.stopPolling();
            });

            $('#startPolling').click(function() {
                window.task.startPolling();
            });

            */


            window.celeryApp = new CeleryApp();
            window.celeryApp.tasks.bind('task_updated', console.log);
            
        });
    </script>
  </head>
  <body>
    <h2>Test page</h2>
    <h3>Individual task</h3>
    <input id="addTask" type="submit" value="New task">
    <h3>Task collections</h3>
<script type="text/plain" src="" id="taskTemplate">
<td><%= id %></td><td><%= status %></td><td> task type</td><td><%= result %></td>
</script>

  <div id="taskApp">
    <input id="addTask" type="submit" value="New task">
    <input id="startPolling" type="submit" value="Start polling">
    <input id="stopPolling" type="submit" value="Stop polling">
    <table id="tasks">
      <thead>
        <tr>
          <td>ID</td>
          <td>Status</td>
          <td>Task</td>
          <td>Result</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
        
  </body>
</html>















